<% @page_layout = 'main' %>
<section id="hero-sub">
  <div class="hero-container">
    <h1>Create Your User Name</h1>
    <h2>Please use the form below to create your username.</h2>
  </div>
</section>


<main id="main">
  <%= render 'shared/alerts' %>
  <section id="support_page"><div class="container">

    <%= render 'profiles/setup_profile/user_name_form' %>
    
  </div></section>    
</main> 