<div class="row">
    <div class="col-12" style="margin-bottom: 25px;">
        <h1>Welcome to the TCC Full Stack Web Developer Test Application!</h1>
    </div>
    <div class="col-6" style="margin-bottom: 25px;">
    <div class="card">
      <div class="card-header">Testing Techniques</div>
      <div class="card-body">
        <p>This test is setup to grade a Full Stack Developer on the following stacks:</p>
        <ul>
            <li>Postgres and DB migrations</li>
            <li>Ruby on Rails</li>
            <li>JavaScript</li>
            <li>BootStrap</li>
            <li>CSS</li>
            <li>HTML</li>
            <li>SEO techniques</li>
        </ul>
      </div>  
    </div>
    <div class="col-6" style="margin-bottom: 25px;">
        <p>For this test there are some bugs in the code that need to be corrected and some features that need to be developed. </p>

        <p>Before starting, review what needs to be done. </p>

        <p>You will be given 30 minutes to complete the tasks and then 15 minutes at the end to correspond with the tester regarding the code if needed. Do your best to prioritize the list in the Readme file for the amount of time you have to complete the tasks.</p>
    </div>
</div>